<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{height: 100%;width: 100%}
    </style>
</head>
<body>
<div style="width: 100%;height: 10%;border: 1px solid black" th:replace="~{commons/common :: topdiv}">

</div>
<div style="width: 100%;height: 80%;border: 1px solid black">
    <div style="float: left;width: 30%;height: 100%;border: 1px solid black">左侧</div>
    <div  style="float: left;width: 69%;height: 100%;border: 1px solid black">操作页面</div>
</div>
<div style="width: 100%;height: 10%;border: 1px solid black" th:replace="~{commons/common :: bottomdiv}">底部</div>
</body>
</html>